body {
	margin: 0;
	padding:61px 0 0 0;
    background:#f4f4f4;
}
.full.background{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
	background: url('http://placekitten.com/1280/1124') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: url(../img/filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); 
}
.navbar{
    background:#fff;
    border:none;
    text-transform:uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing:0.75pt;
    font-size:1.175em;
    font-weight:300;
}
.navbar-default .navbar-nav>li>a{
    color:#2e2e2e;
}
.navbar a.navbar-brand{
    color:#000;
    font-weight:400;
    font-size:1.75em;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color:#fff;
    background:#2e2e2e;
}
.dropdown-menu{
    border:none;
    border-radius:0;
}
.label{
    font-size:0.85em;
    text-transform:uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight:300;
    letter-spacing:0.75pt;
    padding:0.35em 0.5em;
    margin:0 0.2em;
}
.tags{
    margin:10px 15px;
}
a.label:hover{
    text-decoration:none;
    cursor: pointer;
    cursor: hand;
}
.label-tag{
    color:#2e2e2e;
    background:#fff;
}
.label-selected{
    color:#2e2e2e;
    background:transparent;
    font-weight:400;
}

.img-thumbnail {
    padding: 0px;
    border:none;
    border-radius:0;
}
.post-box {
    margin: 15px 0 15px 0;
}

#right{
    position:fixed;
    width:50%;
    top:0;
    right:0;
    left:50%;
    bottom:0;
}

#side-image{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0px;
    background-repeat:no-repeat;
    background-position:top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: url(../img/filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); 
}


/* Extra small devices Phones (<768px) */
@media (max-width: 768px) {
    #side-image, #right{ display:none; visibility:hidden; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
    #side-image{ left: 120px /* 2x 60px col */}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    #side-image{ left: 156px /* 2x 78px col */}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #side-image{ left:190px; /* 2x 95px col */ }
}
